@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  margin: 0;
  background-color: white;
  color: #0f0f0f;
}

nav a {
  @apply hover:text-red duration-300;
}

@layer utilities {
}
