.slider-label::after {
  @apply relative content-[''] bg-[url('/icons/underline.svg')] bg-center bg-cover bg-no-repeat h-[15px] w-full bottom-0 left-[10px] md:bottom-[-5px] lg:bottom-[-10px];
}

.icon-top::before,
.icon-new::before,
.icon-sale::before {
  @apply relative content-[''] inline-block w-[16px] h-[16px] mr-[10px] bg-center bg-cover bg-no-repeat md:w-[20px] md:h-[20px] lg:w-[24px] lg:h-[24px];
}

.icon-top::before {
  @apply bg-[url('/icons/top.svg')];
}

.icon-new::before {
  @apply bg-[url('/icons/new.svg')];
}

.icon-sale::before {
  @apply bg-[url('/icons/sale.svg')];
}

.icon-available::after,
.icon-non-available::after {
  @apply relative content-[''] inline-block w-[16px] h-[16px] ml-[10px] bg-center bg-cover bg-no-repeat md:w-[20px] md:h-[20px] lg:w-[24px] lg:h-[24px];
}

.icon-available::after {
  @apply bg-[url('/icons/available.svg')];
}

.icon-non-available::after {
  @apply bg-[url('/icons/non-available.svg')];
}

.splide__pagination.product__pagination {
  @apply flex justify-center gap-[5px] bottom-[-50px] md:bottom-[-100px] lg:bottom-[-150px];
}

.splide__pagination__page.product__pagination-page {
  @apply w-[13px] h-[11px] rounded-none opacity-100 bg-[#fbfbfb] bg-[url('/icons/slider-bullet.svg')] bg-center bg-cover bg-no-repeat transition-transform duration-300 ease-in-out hover:scale-125 md:w-[20px] md:h-[17px] lg:w-[24px] lg:h-[21px] xl:w-[29px] xl:h-[25px];
}

.splide__pagination__page.product__pagination-page.is-active {
  @apply bg-[url('/icons/slider-bullet-active.svg')] bg-contain scale-100;
}

.splide__arrow.product__arrow {
  @apply bg-[#fbfbfb] rounded-none top-auto bottom-[-60px] w-[33px] h-[44px] transition-transform duration-300 ease-in-out md:w-[45px] md:h-[57px] lg:w-[50px] lg:h-[65px] md:bottom-[-110px] lg:bottom-[-160px];
}

.splide__arrow.product__arrow svg {
  @apply w-full h-full;
}

.splide__arrow--prev.product__arrow-prev {
  @apply left-1/2 translate-x-[-140px] hover:translate-x-[-145px] sm:translate-x-[-150px] sm:hover:translate-x-[-155px];
  transition: transform 0.3s ease-in-out;
}

.splide__arrow--next.product__arrow-next {
  @apply right-1/2 translate-x-[140px] hover:translate-x-[145px] sm:translate-x-[150px] sm:hover:translate-x-[155px];
  transition: transform 0.3s ease-in-out;
}